## Dragon HF -- PT1000 

[extruder]
step_pin: nhk:gpio23
dir_pin: !nhk:gpio24
enable_pin: !nhk:gpio25
heater_pin: nhk:gpio9
sensor_pin: nhk:gpio29
pullup_resistor: 2200
sensor_type: PT1000

min_temp: 10
max_temp: 280
max_power: 1.0
min_extrude_temp: 10
nozzle_diameter: 0.400
filament_diameter: 1.750